<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="./style/style.css" />
	<link rel="stylesheet" href="./style/blueberry.css" />
	<script type="text/javascript" src="./js/jquery.js"></script>
	<script type="text/javascript" src="./js/less.js"></script>
	<script type="text/javascript" src="./js/jquery.blueberry.js"></script>
	<script type="text/javascript">
		$(window).load(function() {
			$('.blueberdasdry').blueberry();
		});
	</script>
</head>
<body>
	<section class="wrapper">
		<header>
			<a href="" class="logo"></a>
			<ul>
				<li>Не берем денег с клиентов</li>
				<li>Работаем с частными лицами и организациями</li>
				<li>Принимаем заявки круглосуточно</li>
			</ul>
			<div class="help-button"><a href="#">Заказать помощь</a></div>
		</header>
		<div class="we-can-help">
			<h2>Чем мы поможем?</h2>
			<figure>
				<a href="#"><img src="./images/we1.png" alt="" /></a>
				<figcaption>
					<h2>Кредиты</h2>
					<p>Вернем незаконно начисленные проценты (за выдачу кредита, обслуживание счета и множество других). Срок — от 1 месяца.</p>
					<p>На основании ст. 333 ОЗПП РФ</p>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="./images/we2.png" alt="" /></a>
				<figcaption>
					<h2>Страховки</h2>
					<p>Вернем до 50% сверх выплаченной суммы по ОСАГО и КАСКО. Срок — от 3 месяцев.</p>
					<p>На основании ст. 333 ОЗПП РФ</p>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="./images/we3.png" alt="" /></a>
				<figcaption>
					<h2>Недвижимость</h2>
					<p>Вернем неустойку за не вовремя сданный дом (0,5% в день). Срок — от 6 месяцев."</p>
					<p>На основании ст. 333 ОЗПП РФ</p>
				</figcaption>
			</figure>
			<figure>
				<a href="#"><img src="./images/we4.png" alt="" /></a>
				<figcaption>
					<h2>Другое</h2>
					<p>Поможем решить другие проблемы с которыми вы можете встретится в семейной жизни. Раздел имущества.</p>
					<p>На основании ст. 333 ОЗПП РФ</p>
				</figcaption>
			</figure>
		</div>
		<div class="slider blueberry">
			<a href="" class="left"></a>
			<a href="" class="right"></a>
			<ul>
				<li>
					<div class="meta">
						<h1>1Народ vs ЖК Новый город</h1>
						<h2>Неустойка с застрощийка</h2>
						<p class="desc">Юридические услуги для заемщиков, автовладельцев, покупателей недвижимости. Возврат незаконных комиссий по кредитам, возврат до 50% невыплаченных сумм по автостраховке, возврат неустойки за нарушение сроков сдачи дома в эксплуатацию. Для клиентов услуги бесплатны. </p>
						<p class="total">Итог дела: Возмещена неустойка за просрочку в размере <span>109 000 руб</span>.</p>
					</div>
					<div class="img-box">
						<img src="./images/slider.jpg" alt="" />
					</div>
				</li>
				<li>
					<div class="meta">
						<h1>Народ vs ЖК Новый город</h1>
						<h2>Неустойка с застрощийка</h2>
						<p class="desc">Юридические услуги для заемщиков, автовладельцев, покупателей недвижимости. Возврат незаконных комиссий по кредитам, возврат до 50% невыплаченных сумм по автостраховке, возврат неустойки за нарушение сроков сдачи дома в эксплуатацию. Для клиентов услуги бесплатны. </p>
						<p class="total">Итог дела: Возмещена неустойка за просрочку в размере <span>109 000 руб</span>.</p>
					</div>
					<div class="img-box">
						<img src="./images/slider.jpg" alt="" />
					</div>
				</li>
			</ul>
		</div>
		<div class="reviews">
			<h2>Отзывы наших клиентов</h2>
			<figure>
				<a href=""><img src="./images/reviews1.png" alt="" /></a>
				<figcaption>
					<h2>Барщевский Михаил</h2>
					<p>“Спасибо Народным Юристам за помощь в разрешение моего дела. Вы помогли мне отсудить свои законные деньги и за это я очень благодарен.”</p>
					<p>pochta@gmail.com</p>
				</figcaption>
			</figure>
			<figure>
				<a href=""><img src="./images/reviews2.png" alt="" /></a>
				<figcaption>
					<h2>Астахов Павел</h2>
					<p>“Спасибо Народным Юристам за помощь в разрешение моего дела. Вы помогли мне отсудить свои законные деньги и за это я очень благодарен.”</p>
					<p>pochta@gmail.com</p>
				</figcaption>
			</figure>
			<figure>
				<a href=""><img src="./images/reviews3.png" alt="" /></a>
				<figcaption>
					<h2>Федоров Николай</h2>
					<p>“Спасибо Народным Юристам за помощь в разрешение моего дела. Вы помогли мне отсудить свои законные деньги и за это я очень благодарен.”</p>
					<p>pochta@gmail.com</p>
				</figcaption>
			</figure>
			<figure>
				<a href=""><img src="./images/reviews4.png" alt="" /></a>
				<figcaption>
					<h2>Джанибекян Артур</h2>
					<p>“Спасибо Народным Юристам за помощь в разрешение моего дела. Вы помогли мне отсудить свои законные деньги и за это я очень благодарен.”</p>
					<p>pochta@gmail.com</p>
				</figcaption>
			</figure>
		</div>
		<div class="request-block">
			<h1>НУЖНА ПОМОЩЬ ЮРИСТА? 	ОКАЖЕМ ЕЁ БЕСПЛАТНО!</h1>
			<div class="box">
				<div class="left">
					<h3>ЗАГОЛОВОК СООБЩЕНИЯ</h3>
					<p>Юридические услуги для заемщиков, автовладельцев, покупателей недвижимости. Возврат незаконных комиссий по кредитам, возврат до 50% невыплаченных сумм по автостраховке, возврат неустойки за нарушение сроков сдачи дома в эксплуатацию. Для клиентов услуги бесплатны. </p>
					<h5>Пишите нам и народные юристы вам помогут!</h5>
				</div>
				<div class="right">
					<form action="">
						<div class="select">
							<select name="" id="">
								<option value="">Выберите тему</option>
							</select>
						</div>						
						<input type="text" placeholder="Введите имя" />
						<input type="text" placeholder="Введите e-mail" />
						<div class="submit">
							<input type="submit" value="Отправить заявку" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="how-to-find-us">
			<h2>Как нас найти?</h2>
			<ul>
				<li>
					<div class="map">
						<img src="./images/map.jpg" alt="" />
						<a href=""><span>Увеличить</span></a>
					</div>
					<div class="meta">
						<p class="name">Клуб «Каприз»</p>
						<p class="address">м. Красные Ворота, Проспект Академика Сахарова д. 14 </p>
						<div class="work-time">
							<span>Время работы:</span>
							<p>с 22.00 до 7.00 каждую ночь</p>
						</div>
						<div class="contacts">
							<span>Телефон:</span>
							<p>+7 (495) 723-58-23 (круглосуточно)</p>
						</div>
					</div>
				</li>
					<li>
					<div class="map">
						<img src="./images/map.jpg" alt="" />
						<a href=""><span>Увеличить</span></a>
					</div>
					<div class="meta">
						<p class="name">Клуб «Каприз»</p>
						<p class="address">м. Красные Ворота, Проспект Академика Сахарова д. 14 </p>
						<div class="work-time">
							<span>Время работы:</span>
							<p>с 22.00 до 7.00 каждую ночь</p>
						</div>
						<div class="contacts">
							<span>Телефон:</span>
							<p>+7 (495) 723-58-23 (круглосуточно)</p>
						</div>
					</div>
				</li>
					<li>
					<div class="map">
						<img src="./images/map.jpg" alt="" />
						<a href=""><span>Увеличить</span></a>
					</div>
					<div class="meta">
						<p class="name">Клуб «Каприз»</p>
						<p class="address">м. Красные Ворота, Проспект Академика Сахарова д. 14 </p>
						<div class="work-time">
							<span>Время работы:</span>
							<p>с 22.00 до 7.00 каждую ночь</p>
						</div>
						<div class="contacts">
							<span>Телефон:</span>
							<p>+7 (495) 723-58-23 (круглосуточно)</p>
						</div>
					</div>
				</li>
					<li>
					<div class="map">
						<img src="./images/map.jpg" alt="" />
						<a href=""><span>Увеличить</span></a>
					</div>
					<div class="meta">
						<p class="name">Клуб «Каприз»</p>
						<p class="address">м. Красные Ворота, Проспект Академика Сахарова д. 14 </p>
						<div class="work-time">
							<span>Время работы:</span>
							<p>с 22.00 до 7.00 каждую ночь</p>
						</div>
						<div class="contacts">
							<span>Телефон:</span>
							<p>+7 (495) 723-58-23 (круглосуточно)</p>
						</div>
					</div>
				</li>
					<li>
					<div class="map">
						<img src="./images/map.jpg" alt="" />
						<a href=""><span>Увеличить</span></a>
					</div>
					<div class="meta">
						<p class="name">Клуб «Каприз»</p>
						<p class="address">м. Красные Ворота, Проспект Академика Сахарова д. 14 </p>
						<div class="work-time">
							<span>Время работы:</span>
							<p>с 22.00 до 7.00 каждую ночь</p>
						</div>
						<div class="contacts">
							<span>Телефон:</span>
							<p>+7 (495) 723-58-23 (круглосуточно)</p>
						</div>
					</div>
				</li>
					<li>
					<div class="map">
						<img src="./images/map.jpg" alt="" />
						<a href=""><span>Увеличить</span></a>
					</div>
					<div class="meta">
						<p class="name">Клуб «Каприз»</p>
						<p class="address">м. Красные Ворота, Проспект Академика Сахарова д. 14 </p>
						<div class="work-time">
							<span>Время работы:</span>
							<p>с 22.00 до 7.00 каждую ночь</p>
						</div>
						<div class="contacts">
							<span>Телефон:</span>
							<p>+7 (495) 723-58-23 (круглосуточно)</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<footer>
			<p>(с) Народные Юристы 2013 | info@narodnieuristi.ru </p>
		</footer>
	</section>
</body>
</html>